
@font-face {
	font-family: "iconfont";
  	src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-jieri:before { content: "\e63f"; }
.icon-wanchengyuan:before { content: "\e60d"; }
.icon-icoxiashuangjiantou:before { content: "\e629"; }
.icon-dianhua:before { content: "\e60a"; }
.icon-jiahao:before { content: "\e633"; }
.icon-bumen:before { content: "\e616"; }
.icon-ren:before { content: "\e60b"; }
.icon-icon27:before { content: "\e603"; }
.icon-qiye:before { content: "\e600"; }
.icon-youxiang:before { content: "\e617"; }
.icon-gongzuodianhua:before { content: "\e635"; }
.icon-add:before { content: "\e626"; }
.icon-iconfontworkflow:before { content: "\e636"; }
.icon-duorentonghua:before { content: "\e60f"; }
.icon-weibiaoti1:before { content: "\e612"; }
.icon-tongzhi:before { content: "\e62d"; }
.icon-zhiweitouxian:before { content: "\e61e"; }
.icon-wodetongshisolid:before { content: "\e618"; }
.icon-jikediancanicon11:before { content: "\e611"; }
.icon-loudong:before { content: "\e61f"; }
.icon-weibiaoti11:before { content: "\e601"; }
.icon-dianzan:before { content: "\e613"; }
.icon-crmtubiao67:before { content: "\e628"; }
.icon-mdkehu:before { content: "\e602"; }
.icon-tianjia:before { content: "\e627"; }
.icon-zhiwei:before { content: "\e620"; }
.icon-sevenbabicon31:before { content: "\e63e"; }
.icon-renwuxingxing:before { content: "\e62b"; }
.icon-shezhi:before { content: "\e63d"; }
.icon-sandiancaidan:before { content: "\e61d"; }
.icon-gongzuo:before { content: "\e619"; }
.icon-bianjiliebiao:before { content: "\e610"; }
.icon-bianji:before { content: "\e62a"; }
.icon-jiaqun:before { content: "\e60c"; }
.icon-jiaoyichenggong:before { content: "\e615"; }
.icon-gongzuo1:before { content: "\e637"; }
.icon-dots:before { content: "\e62f"; }
.icon-qiye1:before { content: "\e61b"; }
.icon-gongzuo2:before { content: "\e604"; }
.icon-gongzuo1:before { content: "\e605"; }
.icon-baobiao:before { content: "\e61c"; }
.icon-laba:before { content: "\e634"; }
.icon-shouji:before { content: "\e621"; }
.icon-huidibaigoujiazaibeijingtu:before { content: "\e638"; }
.icon-taorili:before { content: "\e62c"; }
.icon-bumen1:before { content: "\e622"; }
.icon-paper-airplane:before { content: "\e63c"; }
.icon-iconcomment48:before { content: "\e606"; }
.icon-iconlist48:before { content: "\e607"; }
.icon-iconme48:before { content: "\e608"; }
.icon-kaoqin:before { content: "\e630"; }
.icon-jiantou:before { content: "\e60e"; }
.icon-xingming:before { content: "\e623"; }
.icon-laba1:before { content: "\e609"; }
.icon-time:before { content: "\e639"; }
.icon-qq:before { content: "\e61a"; }
.icon-youxiang1:before { content: "\e624"; }
.icon-write-success:before { content: "\e614"; }
.icon-wodezhangdan:before { content: "\e632"; }
.icon-kaoqin1:before { content: "\e62e"; }
.icon-neibugongzuojiaoliu:before { content: "\e63a"; }
.icon-zhaopinguanli:before { content: "\e631"; }
.icon-quanxiandaili13:before { content: "\e625"; }
.icon-tixing:before { content: "\e640"; }
.icon-gongzuopingtai:before { content: "\e63b"; }



